[2019-05-15 08:17] jensschuppe opened #1 "Allow different financial types for one time and recurring contributions"
There should be a configuration setting to define differing financial types depending on whether the contribution is being submitted as "one_time" or with an interval (i.e. as a recurring contribution).

[2019-05-17 08:43] jensschuppe opened #2 "API parameter "is_anonymous" needs configurable contact ID in profile to actually work"
This seems to have been forgotten when implementing profiles: A contribution can be submitted as "anonymous". The API tries to assign that contribution to a contact that acts as "The Anonymous", but this contact is not configurable within the profile.

[2019-07-05 12:20] jensschuppe opened #3 "Country parameter missing for address data"
There should be a parameter `user_country` for submitting 2-digit ISO country codes for the address country.

[2019-07-05 12:25] jensschuppe commented on #3
Fixed with 82cff43c2950ed6b8d1500a667d382fce5b7cc49.

[2019-07-05 12:25] #3 closed

[2019-08-05 09:57] jensschuppe opened #4 "Provide JSON parameter "custom_fields" with a configurable mapping to custom fields"
Planned approach:

- Add a configuration setting for the field mapping; this will be a textarea with a formatted mapping like `<twingle_field>=<custom_field>` per line, e.g. `size_of_shoes=custom_123`
- Add a string parameter `custom_fields` to the `Submit` API action
- For each submitted custom field parameter:
  - Check whether the custom field exists (could also be done when saving configuratio

[2019-08-07 09:29] jensschuppe opened #5 "Create membership with configurable membership type"
There should be a configuration setting for selecting a membership type, which, if set, would cause a membership be created for the contact when a Twingle donation is being submitted.

[2019-08-30 08:33] jensschuppe opened #6 "Make contribution status configurable per payment method"
Contributions may need different statuses depending on the payment method. Currently, all contributions are being registered as "Completed", which might not fit, e.g. for EFT.

[2019-08-30 08:38] jensschuppe opened #7 "Pass IBAN to XCM to allow matching with the IBAN/Birthday matcher"
Passing the `debit_iban` parameter as `iban` to `CRM_Twingle_Submission::getContact()` should be sufficient.

[2019-11-15 05:38] bjendres opened #8 "Add Transaction ID Prefix"
To avoid collision with other IDs (e.g. PayPal's) we would like to be able to define a general prefix.

[2019-11-15 05:39] bjendres commented on #6
There seems to be cases where this doesn't work. I'll look into it.

[2019-11-15 05:44] bjendres opened #9 "Block user from cancelling/ending recurring contributions connected to twingle"
If Twingle, for example, submitted a credit card recurring contribution, it is very confusing to allow the CiviCRM user to cancel this contribuion, while this action would leave the original recurring contribution in Twingle unchanged. This original Twingle entry would keep on collecting money until cancelled in the Twingle backend.

Therefore it should not be allowed to cancel these recurring con

[2019-11-15 06:07] bjendres opened #10 "Prevent terminated SEPA Mandates from being terminated again."
If a SEPA recurring contribution is terminated in Twingle, the corresponding SEPA mandate is terminated as well. This process is, however, missing the check whether the mandate is already terminated, which could potentially be harmful.

This also needs to be checked within CiviSEPA, but hasn't been done thoroughly yet (see [SEPA-552](https://github.com/Project60/org.project60.sepa/issues/552))

[2019-11-15 08:46] bjendres opened #11 "Mark twingle contributions / recurring contributions"
Currently there is no reliable way to know whether an existing contribution or recurring contribution has been created by twingle.

[2019-11-15 08:47] bjendres commented on #9
This needs #11

[2019-11-15 10:06] bjendres opened #12 "Fix profile selection"
It seems like currently, if no profile is matched, the _last_ profile is matched instead of the default one.

[2019-11-15 10:10] bjendres opened #13 "End Code dependency to CiviSEPA"
Twingle uses the direct ``CRM_Sepa_Logic_Settings::isSDD`` and/or ``CRM_Sepa_Logic_PaymentInstruments::isSDD`` calls. This is fragile, and currently broken for ending recurring contributions.

This could probably be replaced by the ``CRM_Twingle_Tools::isSDD`` call introduced by #9

[2019-11-15 10:31] bjendres opened #14 "Set individual prefix"
Twingle only submits a gender string, which is currently mapped to the civicrm ``gender_id`` by the profiles. This means, however, that the individual prefix of a new contact is not set.

We would like to extend the gender mapping to the prefix.

[2019-11-27 11:02] bjendres opened #15 "Extension NOT COMPATIBLE with CiviCRM 5.19.3"
Unfortunately, the fix for security issue [CIVI-SA-2019-21](https://civicrm.org/advisory/civi-sa-2019-21-poi-saved-search-and-report-instance-apis) shipped with CiviCRM ``5.19.3`` is incompatible with the way this extension stores its settings.

**That means, you will lose all settings and cannot store any new ones.**

Until a new version of the extension is released, you can mitigate this issue b

[2019-11-27 12:09] jensschuppe commented on #15
f2b94b72e73ad210d4f0aba32f3e65e720912b13 adds an upgrader that converts the serialized settings object into an array and makes sure that settings are not stored as objects anymore.

This upgrader should be run prior to a CiviCRM upgrade to 5.19.3 or with the patch provided by @bjendres applied (which should be un-applied immediately after the Twingle upgrader ran successfully).

Note that accessin

[2020-01-16 09:37] jensschuppe opened #16 "Allow profiles be copied"
There should be means for easily cloning profile configurations into a new profile, i.e. loading the profile form with values of another profile.

[2020-01-22 11:52] jensschuppe commented on #5
Added the possibility to select different memebership types to assign for one-time and recurring donations.

[2020-01-30 05:58] bjendres opened #17 "Pass campaign to XCM"
Currently, the campaign is only used for the created contribution. It should, however, also be passed to contact generation (XCM)

[2020-01-30 06:30] bjendres opened #18 "Profile should define XCM profile"
The Twingle profiles should define the XCM profiles to be used.

[2020-02-07 11:41] bjendres opened #19 "Custom post process call for newly created memberships"
Some organisations have non-standard requirements for memberships. In order to allow this, we would like to offer to call a user defined ``entity.action`` API3 call, to perform this custom post processing.

[2020-02-12 16:56] bjendres opened #20 "Alternative to blocking cancelling/ending recurring contributions"
The blocking of cancelling/ending recurring contributions in the CiviCRM backend (see #9) might have been a little too strict. In some setups, this would cause errors, e.g. when a recurring contribution is to be automatically cancelled when a connected membership ends.

The alternative could be creating a scheduled activity, instructing people to cancel the recurring contribution in the Twingle ba

[2020-02-12 17:25] #8 closed

[2020-02-12 17:25] #9 closed

[2020-02-12 17:25] #10 closed

[2020-02-12 17:25] #12 closed

[2020-02-12 17:25] #13 closed

[2020-02-12 17:25] #14 closed

[2020-02-12 17:25] #17 closed

[2020-02-12 17:25] #1 closed

[2020-02-12 17:25] #5 closed

[2020-02-12 17:25] #18 closed

[2020-02-12 17:26] #6 closed

[2020-02-12 17:26] #7 closed

[2020-02-12 17:26] #16 closed

[2020-02-12 17:32] #4 closed

[2020-02-12 17:32] #15 closed

[2020-03-09 15:33] andrearickers opened #21 "Display Group Title instead of Group Name"
In the Twingle API configuration - under "Groups and Correlations", it would be beneficial for users if the **group title** instead of the group name could be displayed. This makes it easier for users to identify the right group. See also screenshot.

![grafik](https://user-images.githubusercontent.com/48557847/76230176-9c11a180-6223-11ea-9479-a25213a5fd0f.png)

[2020-04-21 10:48] jensschuppe commented on #11
@bjendres Since there's the `source` field which is configurable per Twingle profile and the transaction ID prefix, is there still a need for some extra sort of marker/tag for contributions created by the Twingle API?

[2020-04-21 10:51] jensschuppe opened #23 "Correctly differentiate initial recurring and subsequent contributions and link them"
Currently, all subsequent contributions belonging to a recurring contribution will be created as a recurring contribution themselves and not have any link to the initial recurring contribution.

Twingle are now sending a parameter `parent_trx_id` which can be used to identify the initial recurring contribution and link subsequent single contributions to it.

[2020-05-14 12:45] bjendres opened #24 "Option to not use Twingle's SEPA mandate reference"
Currently, the system accepts the mandate reference as generated by Twingle. While this makes sense in some cases, in some it doesn't.

Since CiviCRM is going to be collecting the mandate, there is no need to use the Twingle-generated reference. And some organisations would definitely want to stick to their own schema.

[2020-05-14 12:46] bjendres commented on #24
@jensschuppe Could you think of a reason this should not be implemented?

[2020-05-14 14:03] jensschuppe commented on #24
Since it is only used when payments are submitted using "debit_manual" (in case that's correctly mapped to "sepa" in the Twingle profile), it would make sense to use your own mandate references. Maybe this could be an option to switch in the Twingle API profile.

I'm not sure, however, whether Twingle stores their mandate reference somewhere even when they don't issue the mandate. You'd have to ch

[2020-05-15 07:35] bjendres commented on #24
@pvmaria: What do you think? Can we safely ditch the Twingle generated reference in favour of our own?

[2020-05-15 12:50] pvmaria commented on #24
@bjendres Yes, at least I don't see any problem with that but you are the expert :)

[2020-05-18 10:38] jensschuppe opened #25 "Custom fields mapping not working - unnecessary json_decode()"
Since Twingle submits all parameters within the `json`parameter, there is no need to `json_decode()` the `custom_fields` parameter again, as this causes the custom field mapping to not work at all.

[2020-05-26 09:47] bjendres opened #26 "Add campaign to membership as well"
Currently, a submitted campaign ID will be set to a contribution or recurring contribution. It should also be set to a membership if one is created.

[2020-06-04 07:22] bjendres opened #27 "More campaign options"
If there is a campaign (either passed by Twingle or defined in the profile) there is multiple ways where it could be set:

- contribution
- recurring contribution
- SEPA mandate
- membership

Since the required behaviour might vary greatly between organisations, we would like to make this configurable.

This replaces/extends #26

[2020-06-04 07:34] jensschuppe commented on #27
This should then be a checkboxes field with the above-mentioned options, I guess.

[2020-06-04 09:24] bjendres commented on #27
It's a multi-select field

[2020-06-04 12:00] jensschuppe opened #28 "Add parameter for preferred language"
Twingle will be submitting the user's language in `user_language` as 2-digit ISO-639-1 language codes. The API should process that parameter and pass it to XCM as `preferred_language`

[2020-06-15 14:30] bjendres opened #29 "Copying profile overwrites existing or default profile"
If you create a new profile (``1.2-beta1``) the settings always overwrite the default project.

[2020-06-16 12:44] bjendres opened #30 "Calls (like TwingleDonation.cancel) fails if contribution is not found"
If the contribution with the given Twingle-ID is not found, the API returns an error. That might sound like the proper response, but this behaviour causes Twingle to submit the same request over and over.

There might be a point in flagging this issue to a user (e.g. by E-Mail) and returning an "ok" in the API.

[2020-06-16 13:23] jensschuppe commented on #30
To me that seems to be an error-management issue for Twingle, not necessarily for the CiviCRM API, since how to handle that will highly depend on what your workflows are: activities, e-mails, ignore, ...

Also, reporting by e-mail does not stop Twingle to re-send it again and again. Twingle users should really be checking those error messages regularyl. Maybe this could be outlined in the API docs

[2020-06-16 13:26] bjendres commented on #30
I agree, but that's the way is currently implemented: if there is an error: re-submit with the next batch.

Yes ist does, if you don't return an error any more.

[2020-06-16 13:35] jensschuppe commented on #30
Agreed. What happens in CiviCRM should be configurable then, because not throwing an error will make it vanish from CiviCRM logs as well. I see the following options:

- Ignore
- Log to the CiviCRM log
- Schedule an activity
- Send an e-mail
- maybe plug into other systems (trigger a CiviRules event, execute an action-provider action, etc.), maybe provide a hook.

[2020-06-19 11:56] bjendres opened #31 "Twingle recurring installments also trigger membership creation"
Twingle installments will be posted to the same profile as the original one (see #23). That, however, means, that it would also generate a new membership each time (see #5), if that was configured for the profile.

[2020-06-19 13:04] jensschuppe commented on #31
There are the two following settings for selecting whether to create memberships:
- Create membership of type
- Create membership of type (recurring)

Can you confirm that only the latter is being set to create memberships of a type and subsequent installments of an initial recurring donation are triggering the creation of a new membership of that type?

[2020-06-19 13:09] bjendres commented on #31
While reading through the code, it looks like this only in the latter case. I don't have confirmation, because in our scenario both were active.

[2020-06-19 13:10] bjendres commented on #31
But that's the point, even if it's an installment (rather than the first contribution) it will create another membership (recurring), because ``donation_rhythm`` is _not_ ``one_time``.

[2020-06-19 13:11] bjendres commented on #31
I'm already looking into fixing this, though.

[2020-06-19 13:16] bjendres commented on #31
@jensschuppe do you think this would work: https://github.com/systopia/de.systopia.twingle/commit/4ec0fef825516738d22c65207a417525b0cf2345

Or is the ``parent_trx_id`` also set in the initial submission?

[2020-06-19 13:24] jensschuppe commented on #31
The initial submission has this for `parent_trx_id`:

[code]

So, this should work with an `empty()` check.

Care to put the condition into an `elseif` to avoid one more nesting level?

[2020-06-19 13:26] bjendres commented on #31
@jensschuppe this way? https://github.com/systopia/de.systopia.twingle/commit/da790863b574ec346839e95af1df7b1d5541145c

[2020-06-19 13:28] jensschuppe commented on #31
@bjendres Exactly, thanks!

[2020-06-19 13:41] MarcMichalsky opened #32 "Example configuration for custom_fields"
Hello community,

I am trying for hours to get the `custom_fields` working. I am doing API calls via curl to our test server and apparently they are making it through.

I added `"custom_fields":{"event":"773"}` to the call and `event=custom_393` to the custom field mapping. No error at all, but the value does not show up on the custom field.

Maybe someone could give me their configuration?

[2020-06-22 08:04] jensschuppe commented on #32
Your configuration should be correct. For existing contacts, make sure the custom fields are in XCM's list of fields to fill, because otherwise they would only be set on contacts created by the Twingle API call. Also, the custom fields feature is only available since version 1.1.

N.B. The value depends on the custom field type. List fields (e.g. with option values as possible values) need to be p

[2020-06-25 11:32] #32 closed

[2020-06-25 11:37] jensschuppe commented on #25
This has positive test feedback by @MarcMichalsky - therefore closing.

[2020-06-26 10:06] MarcMichalsky opened #34 "Twingle's double-opt-In for e-mail is not getting mapped"
Hello community,

The Twingle API call does contain a value for subscribing to the newsletter regardless of whether the Double-Opt-In was confirmed by the contact or not.

This leads to the situation that someone will receive the newsletter regardless of his confirmation of the Double-Opt-In.

Of course an organization could deactivate the Double-Opt-In on the Twingle side and realize it by it sel

[2020-06-26 10:17] jensschuppe commented on #34
Is Twingle sending their own double opt-in messages for newsletter subscriptions?

If not, this will involve replacing the call to `GroupContact.create` with a call to `MailingEventSubscribe.create` for using CiviCRM's double opt-in feature here: https://github.com/systopia/de.systopia.twingle/blob/675b682e0ea4267f498d81b48ce16f2c6e5fcf6f/api/v3/TwingleDonation/Submit.php#L487-L497

If Twingle _is

[2020-06-29 12:50] bjendres commented on #19
Will be released with ``1.2``

[2020-06-29 12:50] #19 closed

[2020-06-29 12:50] bjendres commented on #20
Will be released with ``1.2``

[2020-06-29 12:50] #20 closed

[2020-06-29 12:50] bjendres commented on #23
Will be released with ``1.2``

[2020-06-29 12:50] #23 closed

[2020-06-29 12:50] bjendres commented on #25
Will be released with ``1.2``

[2020-06-29 12:50] bjendres commented on #31
Will be released with ``1.2``

[2020-06-29 12:50] bjendres commented on #24
Will be released with ``1.2``

[2020-06-29 12:50] #24 closed

[2020-06-29 12:51] bjendres commented on #26
Will be released with ``1.2``

[2020-06-29 12:51] #26 closed

[2020-06-29 12:51] bjendres commented on #27
Will be released with ``1.2``

[2020-06-29 12:51] #27 closed

[2020-06-29 12:51] bjendres commented on #30
Will be released with ``1.2``

[2020-06-30 19:39] webworka commented on #30
For Information from the twingle side: We released last week an update on the interface that we ignore this error on our side.

Normally the handling is that if an error is given back vom CiviCRM we will send this request again. In this case, this makes no sense.
I also found another error which we now also ignore: "SEPA Mandate xxxx already terminated". From the twingle point of view this is the

[2020-06-30 19:58] webworka commented on #34
Depends on the customer settings. Twingle *can* send a DOI message but must not. It's also possible that customers configured newsletter provider to send the DOI main. In this case twingle will not send the DOI message and will also know nothing about the DOI.

Nevertheless: I'ts an interesting idea to use (optional?) the CiviCRM DOI feature. In this case customers should disable the DOI on twingl

[2020-07-01 07:41] jensschuppe commented on #34
@webworka Implementing CiviCRM's DOI feature (`MailingEventSubscribe`) would be another task. I changed the issue title to reflect we're targeting Twingle's own DOI thing here. I'm not sure what else would be necessary for syncing DOI status in CiviCRM when using external mailing providers. Let's keep that in the backlog for now. Thanks for the heads-up though!

[2020-07-01 07:49] jensschuppe commented on #30
@webworka Thanks for reporting back here, too!

I think it would be reasonable, though, to _clarify the error messages as a first step_, because ignoring errors is not a good thing in general, and those come from the CiviCRM core API and are not necessarily bound to only those two events. Ultimately, we should not issue errors back to you (Twingle) in that case at all, but handle such inconsistenc

[2020-07-21 09:22] MarcMichalsky opened #36 "Use CiviCRM's double opt-in feature for newsletter subscription"
As already mentioned in #34, the Twingle double opt-in setting is not getting mapped into CiviCRM.

In order to meet the requirements of the GDPR, it is necessary to receive a double opt-in confirmation before contacts are added to a newsletter group.

A solution would be the usage of CiviCRM's own double opt-in feature.

[2020-07-21 09:46] MarcMichalsky opened #37 "Settings for newsletter groups: show only newsletter groups"
The settings field for newsletter groups shows all kinds of groups.
Wouldn't it be better to show only newsletter groups?

[2020-07-21 11:10] bjendres commented on #36
Thanks @MarcMichalsky. @jensschuppe will have a look at this when he's back from his vacation (August 11th).

[2020-07-21 11:11] bjendres commented on #37
Thanks @MarcMichalsky. @jensschuppe will have a look at this when he's back from his vacation (August 11th).

[2020-07-21 11:15] MarcMichalsky commented on #37
Sorry, I was wrong.
The settings field for newsletter groups shows only newsletter groups, like it should.
Unfortunately the usage of MailingEventSubscribe.create only allows to add contacts to newsletter groups which are also public.

[2020-07-21 11:15] #37 closed

[2020-07-21 11:16] bjendres commented on #37
Thanks anyway :)

[2020-07-21 12:42] bjendres commented on #31
There was still a bug in the workflow, this should be fixed with ``1.2-beta3``

[2020-08-19 10:34] jensschuppe commented on #11
@bjendres Is this still relevant since #9 has been rejected in favor of #20?

I'm moving it to the 1.3 milestone, anyway.

[2020-08-19 10:39] #36 closed

[2020-08-19 10:40] jensschuppe commented on #36
Will be released with 1.3. Thanks @MarcMichalsky!

[2020-09-25 09:44] MarcMichalsky opened #39 "Trim project IDs when extracting from profile configuration"
Hello,

we ran into an issue when we added a project id to an existing profile and separated it with a comma and a space. The profile was not used for processing the donation.

I think we should add a little fix for that, because for most people it feels common to use a space after a comma.

[2020-09-25 13:36] #39 closed

[2020-10-12 08:08] jensschuppe opened #41 "Skip contact matching for recurring payments - might cause duplicates"
For recurring donations, Twingle are sending the parent transaction ID, which allowes for identification of the parent contribution in CiviCRM. Thus, no contact matching is necessary and should be skipped, since it might (for some matching configurations in XCM) cause duplicate contacts be created every time a recurring contribution payment is received.

[2020-10-28 10:05] jensschuppe opened #42 ""Data too long" when saving many profiles"
Since profiles are being stored as a single CiviCRM setting, which have a column length of 64k (MySQL data type `TEXT`), storing many™ profiles my exceed this limit.

Problem 1 is that the number of profiles is limited due to that column length.

Problem 2 is even worse, because CiviCRM did not throw `Data too long` errors until a recent version and cut the serialized value, which would cause corr

[2020-10-28 10:14] jensschuppe commented on #29
I could not reproduce that, but noticed that when storing many profiles, a "Data too long" error occurs (at least since one of the recent CivICRM versions, whereas before, data would have simply got cut off), see #42.

I suppose that overwriting something else might be a side effect of that.

[2020-11-10 09:36] jensschuppe commented on #29
This is valid. The default profile is being overwritten when a profile is copied, then saved.

[2020-11-10 10:34] jensschuppe commented on #29
This stems from `CRM_Utils_Request::retrieve('name', 'String', $this)` retrieving from `GET` values when the form is loaded, but from `POST` when it is saved, using the new name for the latter, for which no profile exists and therefore the default profile is being used for storing.

The Copy action now uses a different parameter for the source profile and also validates new profile names.

[2020-11-10 10:37] jensschuppe commented on #29
This needs to be merged both into `master` and `1.2.x` branches, once it is successfully tested.

[2020-11-10 11:20] jensschuppe commented on #29
This has positive test feedback and will be released with `1.2`

[2020-11-10 11:20] #29 closed

[2020-11-10 11:30] #25 closed

[2020-11-10 11:30] jensschuppe commented on #31
Will be released with `1.2`

[2020-11-10 11:30] #31 closed

[2021-02-19 13:42] MarcMichalsky opened #43 "campaign_id parameter causes an error if the associated campaign does not exist"
If a `campaign_id` is passed as parameter to the TwingleDonation.submit API and there is no associated campaign for it, this causes an error:

[code]

I already have a fix for this – just needed the issue id for my branch. ;)

[2021-02-19 13:47] jensschuppe commented on #43
The question is whether this should silently fail, fall back to the default campaign in the profile (if any), or propagate the error to the caller (as currently done).

Since the parameter is user input, I'd suggest to fall back to the default campaign, but add a description to that field in the configuration form.

[2021-02-19 13:51] MarcMichalsky opened #44 "Change campaign_id data type to string for compatibility with de.forumzfd.twinglecampaign extension"
The [de.forumzfd.twinglecampaign](https://lab.civicrm.org/Marc_Michalsky/de-forumzfd-twinglecampaign) extension uses UIDs to match incoming donations with its campaigns.

Changing the data type for `campaign_id` to a string allows the de.forumzfd.twinglecampaign extension to:
1. match the right campaign
2. write the id of the identified campaign into the `campaign_id` parameter
3. let the de.systo

[2021-02-19 14:20] MarcMichalsky commented on #43
That's what my PR #45 does. If there's no campaign with that id, the parameter gets unset and the default campaign is getting used instead. I don't think, a description is needed in the config form because the contribution does not get lost in no case.

[2021-02-23 14:04] #43 closed

[2021-02-23 14:04] #44 closed

[2021-03-02 11:16] MarcMichalsky opened #47 "Do not use `user_country` as the only address parameter for XCM"
The `user_country` parameter gets submitted by Twingle with every call on TwingleDonation.submit. Because the `user_country` is passed to the [XCM](https://github.com/systopia/de.systopia.xcm), it gets interpreted as an address information what can lead to an [overwriting of existing address information](https://github.com/systopia/de.systopia.xcm/issues/78).

[One way to prevent this](https://git

[2021-05-19 14:13] mariav0 commented on #47
I can verify this works. Thanks, @MarcMichalsky!

[2021-05-20 12:10] mariav0 opened #50 "custom field mapping: additional feature"
Currently the custom field mapping function only works for fields that twingle itself provides in the custom_fields parameter.
As I might useful feature I would like to suggest to map existing twingle fields such as user_extrafield and purpose as well.

[2021-08-31 09:13] MarcMichalsky opened #51 "Deprecated: Array and string offset access syntax with curly braces is deprecated in twingle.civix.php on line 246"
![Screenshot 2021-08-31 at 10-59-15 CiviCRM Home CiviCRM Sandbox on Drupal](https://user-images.githubusercontent.com/24728186/131475776-6372e4af-53f5-4a89-9d6d-5cc05416292f.png)

This error occurs in the [civicrm-buildkit-docker](https://github.com/michaelmcandrew/civicrm-buildkit-docker) (PHP 7.4.22).

[2021-08-31 13:05] MarcMichalsky commented on #51
Looks like this is a problem in the code that was automatically generated by civix. I got the same issue in my extension. 😅

[2021-08-31 14:31] bjendres commented on #51
Yes, exactly, we just have to run ``civix`` again with the current version to regenerate the files.

[2021-09-01 09:53] MarcMichalsky commented on #51
If this is is the preferred way to fix this issue, I will close my PR #52.

[2021-09-06 09:13] jensschuppe commented on #51
cadf895def3b04b5e0cdd5f475cd268da02f49a3 regenerates the `twingle.civix.php` file with latest Civix. @MarcMichalsky Could you run a short test to see if that solves the issue and does not impose other problems (which it really shouldn't)? This will then replace your PR #52.

[2021-09-06 09:46] MarcMichalsky commented on #51
With commit [cadf895](https://github.com/systopia/de.systopia.twingle/commit/cadf895def3b04b5e0cdd5f475cd268da02f49a3) there are no more errors occurring in my buildkit environment. I was also able to do a successfully `TwingleDonation.submit` call.

Looks fine to me. Thanks!

[2021-09-06 11:35] jensschuppe commented on #51
@MarcMichalsky Thanks, I'll close this, since the commit is on `master` already.

[2021-09-06 11:35] #51 closed

[2021-09-08 12:45] jensschuppe opened #53 "Duplicate XCM-initiated activites for personal addresses"
When no organisation name was provided, but an address, the extension will call the XCM twice, once for creating/identifying the contact (without address) and a second time for passing the address. For configurations with XCM creating addresses for creations and/or updates, multiple activities might be created.

The second call to XCM should be removed and the logic should be reordered so that sti

[2021-11-09 10:56] jensschuppe commented on #51
Will be released with `1.3` and `1.2.2`.

[2021-11-09 10:56] jensschuppe commented on #53
Will be released with `1.3` and `1.2.2`.

[2021-11-16 09:28] MarcMichalsky commented on #47
Hello everyone,

this problem still exists and we are addressing it by disabling the "Change Primary Detail?" option. This leads to the result that sometimes when a contact donates without requesting a donation receipt, their address details only contain the country. If the same contact then donates again but requests a donation receipt, the submitted address information is not included in the con

[2022-04-19 14:28] mariav0 commented on #36
Hi there,
I am still having the same issue.
If I select "double opt-in" in twingle, I am getting an email from twingle but it does not matter if I confirm or not.
So I disable "double-opt-in" but then I have to use 2 groups - one group which is mapped in the twingle profile and another one for the Pending Subscription which I trigger via CiviRule. Is there any other solution?

[2022-04-19 15:00] jensschuppe commented on #36
That's because Twingle's DOI is not yet implemented (#34 still being open).

If I got #38 right, there's no need for a second group. The API will just decide whether or not to use DOI depending on the parameter `newsletter_double_opt_in` being set or not in the profile. This works with the same group. With DOI, contacts are added with the status "Pending"; without, they're added with the status "A

[2022-04-19 15:00] jensschuppe commented on #34
See https://github.com/systopia/de.systopia.twingle/issues/36#issuecomment-1102760849.

[2022-04-19 15:07] MarcMichalsky commented on #36
Hi Maria,

I don't understand for what purpose you are using CiviRules and the two groups.

In commit [72a3515](https://github.com/systopia/de.systopia.twingle/commit/72a3515e8ae4ba670a8e79edcc44e23278be3c1b) we added a field "Use Double-Opt-In for newsletter" to the Twingle API profiles. If you check this box, CiviCRM will take care of double opt-in emails and group memberships. When someone sign

[2022-04-19 15:08] mariav0 commented on #36
Thanks for your quick response, @jensschuppe

How can the API decide what to use? If I select DOI in Twingle it does not work - as you said. And if I don't, it just does not send the email from twingle but still adds the contact directly to the group. There is no "Pending". At least it did not work in my tests.

The CiviRule triggers when adding a contact to a group and then I choose the action "C

[2022-04-19 15:09] mariav0 commented on #36
Ahh I think I know why now. I didn't pull that commit since it was never released, right?

[2022-04-19 15:14] MarcMichalsky commented on #36
It should be included in [1.2.2](https://github.com/systopia/de.systopia.twingle/releases/tag/1.2.2). The commit 72a3515e8ae4ba670a8e79edcc44e23278be3c1b is listed there: https://github.com/systopia/de.systopia.twingle/compare/1.2.2...master

[2022-04-19 15:17] mariav0 commented on #36
I see, I did not notice there was a new release after 1.2.1. CiviCRM does not show that there is a new version.

[2022-04-20 07:00] MarcMichalsky commented on #36
Ah, sorry, my mistake. I thought it was already included in `1.2.2`. Actually I use the git repository on `1.3-alpha1` instead of the release package.

[2022-04-20 11:11] mariav0 commented on #36
Sorry, I have overlooked your comment about the release 1.3.
DOI is working now. Thank you both!

[2022-04-20 21:07] mariav0 commented on #47
Hey there,
I have tested this again and now it does not work anymore. I use @MarcMichalsky's fix.
It does not matter if I have "Change Primary Detail" enabled or not: If there is no address of this type already, then there is an address added without any data. It just shows an empty address. If there is an address of this type already, it does not change the address.
Tested on CiviCRM 5.47.4, Twin

[2022-04-21 07:09] MarcMichalsky commented on #47
Hi @mariav0,
did you already try my [issue/47](https://github.com/MarcMichalsky/de.systopia.twingle/tree/issue/47) branch? It adds a setting to the profile to define which address components must be present to overwrite the existing address.

The most common use case would be to define street, postal code, city and country as required address components and set the XCM to change primary details.

[2022-04-21 09:55] mariav0 commented on #47
Hi @MarcMichalsky,
I have tried your branch and I am still having this issue when I create a new contact that the address shows up empty:

![image](https://user-images.githubusercontent.com/70949178/164423514-65b1d5b1-47e2-4cd5-9c22-005d37ddebe0.png)

This happens always - no matter if "Change Primary Detail" is enabled or disabled.
But an empty address never overwrites an existing one which is go

[2022-04-22 06:37] MarcMichalsky commented on #47
@mariav0 could you specify what you mean by _»when I create a new contact«_?

[2022-04-22 06:43] MarcMichalsky commented on #47
@mariav0 And could you check your XCM profile settings to let it fill the right fields and create addresses?
![Screenshot 2022-04-22 at 08-41-26 Xtended Contact Matcher Profile CiviCRM forumZFD](https://user-images.githubusercontent.com/24728186/164618258-09c73928-5fd4-4ddf-abfa-576c6f2a944e.png)

[2022-04-22 09:25] mariav0 commented on #47
@MarcMichalsky Sorry, I meant when a new contact is created via Twingle (non-existing in CiviCRM before)

And yes, it looks very similar. I only do not have "Neues Kontaktdetail primär" enabled. But I have also tested it when checked and it did not make a difference either. It also does not set the new address to primary which it should?

![grafik](https://user-images.githubusercontent.com/7094917

[2022-04-22 12:41] MarcMichalsky commented on #47
@mariav0 are you sure that this XCM profile is selected in the Twingle API profile?
And does it work that incoming donations containing complete addresses overwrite the old existing addresses?

[2022-04-22 14:23] MarcMichalsky commented on #47
What about these fields in the Twingle API profile? Which ones have you selected?
![Screenshot 2022-04-22 at 16-20-25 Edit Twingle API profile default CiviCRM forumZFD](https://user-images.githubusercontent.com/24728186/164733390-0821c4aa-d884-49e2-9895-47f3e197ccc7.png)

[2022-04-27 15:17] mariav0 commented on #47
Hi @MarcMichalsky,
I am not quite familiar with Postman but I have tried to do a submit and have a response json now. But I guess you want me to use `create` as an action instead of `submit`, right?
I am just not sure what to enter for
[code]
Could you give me a hint from where I can get this information?
Thanks in advance!

[2022-04-28 06:52] MarcMichalsky commented on #47
Hi @mariav0,
my fault, I meant `TwingleDonation.submit` of course.
Actually you don't need to replace any of the `{{variables}}`. In Postman you can create an environment where you can set all variables that will be used in the parentheses. You need to set `api_key`, `site_key`, `url` (e.g. `https://civicrm.my-awesome-ngo.org`), and `api_endpoint` (either `/civicrm/ajax/rest` in Drupal 9 or `/site

[2022-04-28 13:45] MarcMichalsky commented on #47
Hello @mariav0,

the XCM indeed [creates empty addresses when no address data is submitted](https://github.com/systopia/de.systopia.xcm/issues/93). The problem should be solved as soon as [XCM version 1.9](https://github.com/systopia/de.systopia.xcm/milestone/10) is released.

Thanks for your patience!

[2022-04-28 13:53] bjendres commented on #47
Should I tag an alpha version for you?

[2022-04-28 13:56] MarcMichalsky commented on #47
This could be helpful, but since it mainly concerns this repository, I think @jensschuppe should respond to that question.

[2022-04-28 13:57] bjendres commented on #47
I meant an alpha version of XCM

[2022-04-28 13:59] MarcMichalsky commented on #47
Yes. But the fix affects the outcome of `TwingleDonation.create`. So he should decide how to proceed here.

[2022-04-28 14:25] MarcMichalsky commented on #50
It might indeed be useful to be able to map all values to custom fields, but just in case you missed it:
The `purpose` is already mapped to the contribution note. And the `user_extra_field` is mapped to the contact note.

[2022-04-28 14:31] mariav0 commented on #50
Thanks @MarcMichalsky,
I know but in my opinion it is not quite useful to have i.e. "1" in a note and that means that a checkbox is enabled. So it's better to be able to map the value where its belong.
But twingle is very supporting and does provide it in the custom_fields parameter when asking.

[2022-05-02 07:01] MarcMichalsky commented on #34
I don't think we need this feature anymore. It is likely that there are organizations that would prefer to use Twingle's DOI without CiviCRM.

For those who want to use CiviCRM to send the DOIs, you can disable the DOI in TwingleMANAGER and check the I checkbox in the Twingle API profile (the feature will be released in [1.3](https://github.com/systopia/de.systopia.twingle/milestone/3)).

[2022-05-02 07:01] #34 closed

[2022-05-02 12:33] #47 closed

[2022-05-02 12:41] jensschuppe commented on #47
Thanks @MarcMichalsky, @mariav0 and @bjendres!

[2022-05-02 13:00] jensschuppe commented on #28
@MarcMichalsky would you be able to review/test this one in order to get it into `master` before `1.3`?

[2022-05-02 13:02] #11 closed

[2022-05-02 13:20] MarcMichalsky commented on #28
I can confirm that it works with `de`, `en` and `es` as `user_language` parameter.

[2022-05-02 13:39] #28 closed

[2022-05-02 13:39] #53 closed

[2022-05-02 13:40] jensschuppe commented on #53
Released with `1.3-beta1`.

[2022-05-02 13:41] jensschuppe commented on #44
Released with `1.3-beta1`.

[2022-05-02 13:41] jensschuppe commented on #43
Released with `1.3-beta1`.

[2022-05-02 13:41] jensschuppe commented on #39
Released with `1.3-beta1`.

[2022-05-02 13:41] jensschuppe commented on #36
Released with `1.3-beta1`.

[2022-05-02 13:41] jensschuppe commented on #28
Released with `1.3-beta1`.

[2022-06-21 11:06] mariav0 opened #54 "NL double opt-in: Check if there is an existing subscription already"
This issue is related to the following solved issue:
https://github.com/systopia/de.systopia.twingle/issues/36

I have noticed that I get a group subscription mail when I am already in this group. This creates a new pending group subscription which could be in worst case not accepted.
I think it could be good to check before if there is a subscription for this specific group already.
What do you t

[2022-06-24 07:01] MarcMichalsky commented on #54
Hi @mariav0,
I tested it and I can't reproduce this behavior.

This is exactly what happens [here](https://github.com/systopia/de.systopia.twingle/blob/29e0b50cd15ed014a6ccb2310ee2f28acd36269f/api/v3/TwingleDonation/Submit.php#L512-L540).

Is the selected group a public newsletter group?

[2022-06-24 08:47] #54 closed

[2022-06-24 08:50] MarcMichalsky commented on #54
No problem. Thanks for the extensive testing and reporting!

[2022-08-02 08:10] ma8bi4ne opened #56 "Can't enter "Configure extension settings""
When clicking the button "Configure extension settings" I am presented with a white blank page with the following text:

`The website encountered an unexpected error. Please try again later.`

Rather unspecific error, so where can one start looking for the origin of the problem? Does anybody know this behaviour?

[2022-08-02 10:45] jensschuppe commented on #56
There should be a specific error logged in the CiviCRM logs (`ConfigAndLog` directory, e.g. when in Drupal at `sites/default/files/civicrm/ConfigAndLog`, look for the file with the latest modified date). Please provide steps to reproduce (with installed extension and CiviCRM core version) and the error message, if any.

[2022-08-02 12:57] ma8bi4ne commented on #56
Unfortunately the logfile is empty in the path you specified.
CiviCRM-Version is 5.51.1
PHP is 8.0.20

[2022-08-02 13:42] jensschuppe commented on #56
There might be an incompatibility of the extension (wich you did not tell us the installed version of) with PHP 8.0 - I won't have the time to check that anytime soon, pinging @MarcMichalsky as he knows the extension quite well.

[2022-08-02 13:56] ma8bi4ne commented on #56
Sorry, forgot about that - that is Twingle API 1.3

[2022-11-02 16:33] abugey opened #58 "PHP 8.0 Compatibility and Civix code upgrade"
* [x] Analyse code regarding PHP 8 compatibility
* [x] Fix deprecations found (to be specified)
* [x] Upgrade Civix-generated code to latest Civix version